/*  your css code here. If applicable */

body h1 {
	color: #2a7ae2
}
body h2 {
	color: #f44336
}
body h3 {
	color: #4caf50
}
body h4 {
	color: #ff9800
}
body h5 {
	color:  #607d8b
}
body h6 {
	color:  #ffeb3b
}